.biz-index-container {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.biz-index-navbar {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #ebebeb;
    position: sticky;
    top: 0;
    background-color: white;
    padding-bottom: 30px;
    margin-bottom: 30px;
    z-index: 1000;
    height: 100px;
}

.biz-index-back-to-homepage {
    display: flex;
    margin-left: -20px;
    margin-top: 30px;
    text-decoration: none
}

.biz-index-homepage-text {
    font-size: 30px;
    font-family: "Dekko";
    font-weight: bold;
    color: #000;
    object-fit: cover;
    text-shadow: 1px 0 #000;
}

.biz-index-logo {
    width: 30px;
    height: 30px;
    margin-top: -4%;
    object-fit: cover;
}

.biz-index-searchbar {
    margin-top: 20px;
    margin-left: -65px;
}


/* not logged in */
.biz-index-login-signup-buttons, .biz-index-check-loggedin-container {
    display: flex;
    margin-top: 25px;
    text-decoration: none;
    margin-right: -20px;
}

.biz-index-welcome-user {
    font-size: 16px;
    font-weight: 500;
    margin-top: 4.5%;
    margin-left: -8px;
    padding-right: 8px;
}

.biz-index-logout-user {
    cursor: pointer;
    padding: 8px 16px;
    background-color: rgba(224,7,7,1);
    border: none;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    height: 35px;
    width: auto;
    font-weight: 500;
    margin-left: 8px;
    font-size: 16px;
}

.biz-index-login-button {
    padding: 8px 16px;
    border: 1px solid rgba(200,201,202,1);
    border-radius: 4px;
    color: #000;
    text-decoration: none;
    height: 20px;
    width: auto;
    font-weight: 500;
    margin-right: 8px;
}

.biz-index-signup-button {
    padding: 8px 16px;
    background-color: rgba(224,7,7,1);
    border: none;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    height: 20px;
    width: auto;
    font-weight: 500;
    margin-left: 8px;
}

.biz-index-login-button:hover {
    background-color: rgb(216, 216, 216);
    transition: all 0.6s;
}

.biz-index-signup-button:hover, .biz-index-logout-user:hover {
    opacity: 0.8;
    text-shadow: rgba(224,7,7,1);
    transition: all 0.6s;
}

.biz-index-list {
    margin-left: 190px;
    margin-top: -20px;
}


.biz-index-filters-aside {
    z-index: 1001;
    position: sticky;
    top: 184px;
    margin-top: 50px;
    width: 200px;
}

.filters-title {
    margin-left: 41px;
    line-height: 24px;
    color: rgba(45,46,47,1);
    font-size: 16px;
    font-weight: 700;
}

.filters-container {
    display: flex;

    margin-top: 30px;
    margin-left: 30px;

    button {
        background: white;
        color: rgba(45,46,47,1);
        font-size: 11px;
        width: 54px;
        height: 30px;
        font-weight: 700;
        cursor: pointer;
        &:hover {
            background: rgb(226, 226, 230);
            transition: background-color 0.4s ease 0s;
        }
        &:active {
            border: 1px solid rgb(2, 122, 151);
            color: rgb(2, 122, 151);
        }
        &:focus {
            border: 1px solid rgb(2, 122, 151);
            color: rgb(2, 122, 151);
            background: rgb(226, 226, 230);
        }
    }
}

.filter-button-1 {
    border: 1px solid rgba(200,201,202,1);
    border-right: none;
    border-radius: 16px 0 0 16px;
}

.filter-button-2, .filter-button-3 {
    border: 1px solid rgba(200,201,202,1);
    border-right: none;
}

.filter-button-4 {
    border-radius: 0 16px 16px 0;
    border: 1px solid rgba(200,201,202,1);
}

.biz-index-list-container {
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
}

.biz-index-item{
    display: block;
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
    text-decoration: none;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    width: 50%;
    height: 240px;
    min-width: 680px;
    max-width: 800px;
    margin: 15px 35px;
    padding: 24px;
}

.biz-index-item:hover {
    box-shadow: 0 0 12px #0000001a;
    transition: box-shadow 0.4s;
}

.biz-index-item-container {
    display: flex;
}

.biz-index-photo {
    width: 220px;
    height: 220px;
    margin-top: 3px;
    object-fit: cover;
    border-radius: 4px;
    image-rendering:auto;
}

.biz-index-item-inner-container {
    display: flex;
    flex-direction: column;
}

.biz-index-item-name-container {
    display: block;
}

.biz-index-item-name {
    display: block;
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0 10px 20px;
    color: #2d2e2f;
    border-radius: 3px;
}


.biz-index-item-name-container {
    display: block;
}

.biz-index-item-name {
    color: #2d2e2f;
    font-size: 20px;
    font-weight: 700;
    display: block;
}

.biz-index-item-rating-container {
    display: flex;
    color: rgba(110,112,114,1);
}

#biz-index-item-avgRating {
    background-image: url(review-stars.png);
    -webkit-appearance: none;
    height: 18px;
    width: 103px;
    margin-left: 21px;
}

.biz-index-item-rating-5 {
    background-position: 0px -402px;
}
.biz-index-item-rating-4-5 {
    background-position: 0px -384px;
}
.biz-index-item-rating-4 {
    background-position: 0px -366px;
}
.biz-index-item-rating-3-5 {
    background-position: 0px -348px;
}
.biz-index-item-rating-3 {
    background-position: 0px -330px;
}
.biz-index-item-rating-2-5 {
    background-position: 0px -312px;
}
.biz-index-item-rating-2 {
    background-position: 0px -294px;
}
.biz-index-item-rating-1-5 {
    background-position: 0px -276px;
}
.biz-index-item-rating-1 {
    background-position: 0px -258px;
}
.biz-index-item-rating-0 {
    background-position: 0px -240px;
}

.biz-index-item-numReviews {
    margin-left: 10px;
    margin-bottom: 10px;
}

.biz-index-item-details {
    display: flex;
    color: rgba(110,112,114,1);
    margin-top: 7px;
}

.biz-index-item-category {
    margin-left: 20px;
    margin-bottom: 10px;
    appearance: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    box-sizing: border-box;
    padding: 4px;
    border-radius: 4px;
    height: 20px;
    white-space: nowrap;
    background-color: rgba(240,240,240,1);
    border: 0;
    outline: none;
    cursor: pointer;
    opacity: 1;
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
    font-size: 12px;
    line-height: 12px;
    color: rgba(110,112,114,1);
    font-weight: 700;
}

.biz-index-item-price {
    margin-top: 4px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 400;
}

.biz-index-item-hours {
    color: rgba(45,46,47,1);
    font-size: 14px;
    font-weight: 400;
    margin-left: 20px;
    margin-top: 7px;
}

.biz-index-item-review-wrapper {
    display: flex;
    margin-left: 20px;
    margin-top: 15px;
}

.biz-index-item-review-icon {
    color: #000;
}

.biz-index-item-review-body {
    color: rgba(110,112,114,1);
    font-size: 14px;
    margin-left: 7px;
    line-height: 1.3em;
}

.biz-index-all-results {
    position: absolute;
    color: #2d2e2f;
    font: 18px;
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
    margin-left: 230px;
    margin-top: -50px;
    font-weight: 700;
}

.biz-index-no-results-container {
    width: 1100px;
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
    margin-left: 100px;
    margin-top: 60px;
}

.biz-index-no-results-header {
    font-size: 20px;
    color: #333;
    font-weight: 600;
    line-height: 30px;
    padding-bottom: 25px;
}

.biz-index-no-results-suggestions {
    color: #333;
    font-size: 15px;
    padding-bottom: 10px;
    font-weight: 500;
}

.biz-index-suggestions-list {
    list-style-type:disc;
    font-size: 14px;
    color: #333;
    margin-left: 30px;
}

.biz-index-suggestion-item {
    padding: 10px 0;
}

/* ---- MAP COMPONENT ---- */

.biz-index-map-container {
    position: sticky;
    top: 130px;
    margin-top: -70px;
    min-width: 310px;
    width: 310px;
    height: 110vh;
    margin-bottom: 18px;
}

#map-container {
    min-width: 310px;
    width: 310px;
    height: 110vh;
}


/* ---- FOOTER ---- */
.biz-index-footer {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
    width: 100%;
    height: 200px;
    margin-top: 40px;
    background-color: #f7f7f7;
}

.biz-index-footer-title {
    padding-top: 30px;
    line-height: 24px;
    color: rgba(45,46,47,1);
    font-size: 16px;
    font-weight: 700;
}

/* .biz-index-footer-small-text {
    padding-top: 6px;

} */

