.biz-show-container {
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.biz-show-searchbar {
    height: 127px;
    border: 1px solid #666;
    width: 100%;
}

.biz-show-background-photos {
    display: flex;
    z-index: -999;
    margin-top: -30px;
}

.biz-show-photo {
    width: 33.3%;
    height: 430px;
    object-fit: cover;
    filter: brightness(80%);
}

.biz-show-photo-gradient {
    position: absolute;
    margin-top: -200px;
    width: 100%;
    height: 200px;
    background:linear-gradient(rgba(0,0,0,0) 20%, rgba(0,0,0,1));
}


.biz-show-header {
    position: absolute;
    margin-top: -220px;
    margin-left: 150px;
}

.biz-show-name {
    font-size: 48px;
    color: #fff;
    font-weight: 700;
    padding-bottom: 20px;
}

.biz-show-reviews-section {
    display: flex;
    padding-bottom: 20px;
    font-weight: 700;
    margin-top: 12px;
}

#biz-show-avgRating {
    background-image: url(review-stars.png);
    -webkit-appearance: none;
    height: 24px;
    width: 132px;
    margin-top: -6px;
    object-fit: cover;
}

.biz-show-rating-5 {
    background-position: 0px -216px;
}
.biz-show-rating-4-5 {
    background-position: 0px -192px;
}
.biz-show-rating-4 {
    background-position: 0px -168px;
}
.biz-show-rating-3-5 {
    background-position: 0px -144px;
}
.biz-show-rating-3 {
    background-position: 0px -120px;
}
.biz-show-rating-2-5 {
    background-position: 0px -96px;
}
.biz-show-rating-2 {
    background-position: 0px -72px;
}
.biz-show-rating-1-5 {
    background-position: 0px -48px;
}
.biz-show-rating-1 {
    background-position: 0px -24px;
}
.biz-show-rating-0 {
    background-position: 0px 0px;
}

.biz-show-numReviews {
    color: #fff;
    font-size: 16px;
    padding-left: 10px;
    margin-top: -1px;
}

.biz-show-details-info {
    display: flex;
}

.biz-show-details-claimed {
    color: #1f8eff;
    font-weight: 700;
    font-size: 16px;
}

.biz-show-details-price {
    padding-right: 12px;
    padding-left: 12px;
    color: #fff;
    font-size: 16px;
    word-spacing: 0.5em;
}

.biz-show-details-category {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

.biz-show-details-hours-wrapper{
    display: flex;
    padding-top: 20px;

}

.biz-show-details-hours {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

.biz-show-details-hours-update {
    color: #1f8eff;
    font-weight: 700;
    font-size: 16px;
    padding-left: 10px;
    margin-top: -2px;
}


.biz-show-write-review-button{
    margin-top: 20px;
    margin-left: 50px;
    height: 40px;
    background-color: rgba(224,7,7,1);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin-bottom: 30px;
}

.biz-show-review-link{
    padding: 8px 16px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    width: 60px;
    box-shadow: none;
}

.review-star-icon {
    padding-right: 7px;
    font-size: 18px;
    font-weight: 500;
}

.biz-show-write-review-button:hover {
    background-color: rgb(240, 34, 34);
    box-shadow: 0 0 12px #0000001a;
    transition: all 0.6s;
    
}

.biz-show-location-hours-container {
    display: flex;
    width: 65%;
    margin-left: 50px;
    border-top: solid 1px #ebebeb;
    border-bottom: solid 1px #ebebeb;
    padding-bottom: 30px;
}

.biz-show-location-hours-title {
    margin-top: 35px;
    font-size: 20px;
    font-weight: 700;
    -webkit-letter-spacing: -0.4px;
    -moz-letter-spacing: -0.4px;
    -ms-letter-spacing: -0.4px;
    letter-spacing: -0.4px;
    line-height: 28px;
    color: rgba(45,46,47,1);
    margin-bottom: 30px;
}

.biz-show-location-hours-map-container {
    flex-direction: column;
}

.biz-show-map {
    display: block;
    border: 1px solid #666;
    height: 140px;
    width: 300px;
    border: none;
    object-fit: cover;
}

/* .biz-show-center-map {
    width: 50px;
    height: 50px;
} */

/* .biz-show-hours-item {
    display: flex;
}

.biz-show-hours-item-day {
    flex-direction: column;
}

.biz-show-hours-item-hours {
    flex-direction: column;
} */

.biz-show-hours-day-container {
    width: 400px;
    display: flex;
    margin-top: 90px;
    margin-left: 40px;
    color: rgb(58, 60, 61);
    line-height: 24px;
    font-size: 16px;
    font-weight: 600;
}

.biz-show-day-container {
    flex-direction: column;
    padding-right: 40px;
}

.biz-show-day {
    padding-bottom: 5px;
}

.biz-show-hours-container {
    flex-direction: column;
}

.biz-show-hours {
    padding-bottom: 5px;
}

#open-now {
    font-size: 16px;
    font-weight: 600;
    color: rgba(2,161,109,1);
}

#closed {
    font-size: 16px;
    font-weight: 600;
    color: rgba(224,7,7,1);
}

.biz-show-address {
    color: rgba(2,122,151,1);
    font-size: 14px;
    font-weight: 600;
    padding-top: 24px;
    padding-bottom: 6px;
}

.biz-show-city-state {
    color: rgba(45,46,47,1);
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
}

.review-index-rec-reviews {
    font-size: 20px;
    font-weight: 700;
    color: rgba(45,46,47,1);
    letter-spacing: -0.4px;
    line-height: 28px;
    margin: 30px 0 42px 52px;
}

.biz-show-aside-container {
    display: flex;
    /* sticky not working?? */
    position: sticky;
}

.biz-show-aside-info {
    flex-direction: column;
    border: 1px solid #ebebeb;
    width: 325px;
    height: 185px;
    margin-left: 72%;
    margin-top: -25%;
    background-color: #fff;
    border-radius: 4px;
    padding: 16px;
    object-fit: cover;
}

.biz-show-aside-info-website {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ebebeb;
    width: 320px;
}

.biz-show-website-link, .biz-show-aside-directions-link {
    text-decoration: none;
    color: rgba(2,122,151,1);
    font-weight: 600;
    padding-bottom: 18px;
}

.biz-show-website-link:hover, .biz-show-aside-directions-link:hover {
    text-decoration: underline;
    color: rgba(2,122,151,1);
    font-weight: 600;
}

.biz-show-website-icon {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    margin-top: -5px;
    text-decoration: none;
}

.biz-show-aside-info-phone-number {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ebebeb;
    width: 320px;
    padding: 18px 0;
}

.biz-show-phone-number {
    color: rgba(45,46,47,1);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.biz-show-phone-icon {
    font-size: 20px;
    font-weight: 700;
    color: #000;
}

.biz-show-aside-info-directions {
    display: flex;
    justify-content: space-between;
    padding: 18px 0;
    width: 98%;
}


.biz-show-aside-address {
    color: rgba(110,112,114,1);
    font-size: 16px;
    font-weight: 500;
    padding: 8px 0;
}

.biz-show-aside-zipcode {
    color: rgba(110,112,114,1);
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 8px;
}

.biz-show-aside-directions-icon {
    font-size: 20px;
    color: #000;
    font-weight: 700;
    margin-top: 20px;
    padding-left: -20px;
}