.homepage-container {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.homepage-bg-photo {
    display: flex;
    position: absolute;
    z-index: -999;
    opacity: 0.9;
    width: 100vw;
    height: 650px;
    min-width: 800px;
    top: 0%;
    filter: brightness(55%);
    object-fit: cover;
}


.homepage-links-container {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}

.homepage-biz-wrapper {
    margin-left: 10%;
}

.homepage-biz-link {
    color: #fff;
    display: block;
    padding: 9px 12px 10px;
    font-size: 14px;
    line-height: 1.28571em;
    font-weight: 700;
    background: none;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 0;
    border-bottom: 2px solid transparent;
    padding-bottom: 8px;
    width: 150px;
    margin-left: -35px;
}

.homepage-biz-link:hover {
    border-bottom: 2px solid #fff;
}

.homepage-login-signup-buttons{
    margin-top: 2%;
    margin-left: -67%;
}

.homepage-login-button {
    color: #fff;
    padding: 9px 12px 10px;
    font-size: 14px;
    line-height: 1.28571em;
    font-weight: 700;
    background: none;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    margin-right: 20px;
}

.homepage-login-button:hover {
    border-bottom: 2px solid #fff;
}

.homepage-signup-button {
    color: #fff;
    padding: 9px 12px 10px;
    font-size: 14px;
    line-height: 1.28571em;
    font-weight: 700;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 4px;
    padding: 7px 24px 8px;
    box-shadow: none;
    background: transparent;
}

.homepage-signup-button:hover, .homepage-logout-user:hover {
    background-color: #fff;
    color: #666;
    transition: all .6s;
}

.homepage-welcome-user-wrapper {
    display: flex;
    margin-left: -30%;
    margin-top: -2.7%;
}

.homepage-welcome-user {
    color: #fff;
    padding: 9px 12px 10px;
    font-size: 14px;
    line-height: 1.28571em;
    font-weight: 700;
    background: none;
    font-size: 16px;
    font-weight: 700;
    margin-right: 10px;
    padding-right: 20px;

}

.homepage-logout-user {
    color: #fff;
    padding: 10px 12px 10px;
    font-size: 14px;
    line-height: 1.28571em;
    font-weight: 700;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 4px;
    padding: 7px 24px 8px;
    box-shadow: none;
    background: transparent;
}

.homepage-title-logo-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 6%;
    text-decoration: none;
}

.homepage-title {
    color: black;
    filter: drop-shadow(3px 0 0 #fff) drop-shadow(0 3px 0 #fff) drop-shadow(-2px 0 0 #fff) drop-shadow(0 -2px 0 #fff);
    font-size: 60px;
    font-weight: 700;
    font-family: "Dekko";
}

.homepage-logo {
    width: 60px;
    height: 60px;
    margin-top: -5px;
}

.homepage-searchbar-container {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    z-index: 1000;
}


.homepage-best-businesses-container {
    background-color: #f7f7f7;
    position: absolute;
    margin-top: 19%;
    height: 340px;
    width: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.homepage-best-businesses-title {
    text-align: center;
    font-weight: 700;
    margin-bottom: 6px;
    font-size: 21px;
    line-height: 1.28571em;
    color: #d32323;
    padding-top: 30px;
}

.homepage-best-businesses-photos-container {
    display: flex;
    justify-content: center;
}

.homepage-best-business-photo-box {
    height: 220px;
    width: 205px;
    border: 1px solid #e6e6e6;
    margin: 15px 15px 22px 15px;
    border-radius: 4px;
}

.homepage-best-business-photo {
    height: 180px;
    width: 100%;
    object-fit: cover;
    border-radius: 3px 3px 1px 1px;
}

.homepage-best-business-photo-text {
    display: block;
    text-align: center;
    padding: 10px 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28571em;
    color: #333;
}


.biz-homepage-footer {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
    width: 100%;
    height: 200px;
    background-color: #f7f7f7;
    margin-top: 1100px;
}