.review-item-container {
    width: 45%;
    /* border: 1px solid #666; */
    margin-left: 4%;
    margin-top: 3%;
    height: 250px;
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.review-item-profile-container {
    display: flex;
}

.review-item-user-icon {
    font-size: 65px;
    color: #000;
}

.review-item-name-container {
    margin-left: 11px;
    margin-top: 8px;
}

.review-item-users-name {
    color: rgba(45,46,47,1);
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 6px;
}

.review-item-users-location {
    font-size: 14px;
    color: rgb(61, 62, 63);
}

.review-item-rating-container {
    display: flex;
    padding-top: 6px;
}

#review-index-item-star-rating {
    background-image: url(review-stars.png);
    -webkit-appearance: none;
    height: 18px;
    width: 103px;
    margin-top: -2px;
    margin-right: 5px;
    margin-left: 1px;
    image-rendering: pixelated;
}

.review-item-rating-5 {
    background-position: 0px -402px;
}
.review-item-rating-4 {
    background-position: 0px -366px;
}
.review-item-rating-3 {
    background-position: 0px -330px;
}
.review-item-rating-2 {
    background-position: 0px -294px;
}
.review-item-rating-1 {
    background-position: 0px -258px;
}



.review-item-create-date {
    color: rgba(110,112,114,1);
    font-size: 14px;
    font-weight: 400;
    padding-left: 5px;
}

.review-item-body-container {
    margin-top: 20px;
}

.review-item-body {
    color: rgba(45,46,47,1);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

#hidden-ellipsis {
    visibility: hidden;
}

.review-ellipsis-container {
    position: absolute;
    margin-left: 650px;
    margin-top: -60px;
}

.review-ellipsis {
    font-size: 16px;
    color: rgb(87, 87, 87);
    letter-spacing: 7px;
    padding: 10px;
}

.review-ellipsis:hover {
    background: #66666630;
    border: none;
    border-radius: 40px;
    transition: all 0.6s ease 0s;
}

.review-links-container {
    display: block;
    width: 110px;
    height: 32px;
    z-index: 1001;
    border: solid 1px white;
    border-radius: 4px;
    box-shadow: 0 0 18px #00000026;
    padding: 5px 9px 20px 10px;
    text-align: center;
}

.hidden-review-link-1, .hidden-review-link-2 {
    text-decoration: none;
    display: inline-block;
    color: rgba(45,46,47,1);
    font-size: 14px;
    border: none;
    background: white;
    cursor: pointer;
    padding: 5px;
}

.hidden-review-link-1 {
    // padding-left: 7px;
    // padding-bottom: 7px;
    margin-left: -16px;
}

.hidden-review-link-1:hover, .hidden-review-link-2:hover {
    background-color: #66666630;
    border-radius: 4px;
}