.searchbar-container {
    display: flex;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


    p {
        position: absolute;
        font-size: 18px;
        color: #666;
        font-weight: 700;
    }

    input {
        width: 310px;
        height: 41px;
        padding-left: 60px;
        outline: none;
    }
}

.searchbar-find {
    margin-left: 12px;
    margin-top: 11px;
}

.searchbar-component-find {
    border-radius: 4px 0 0 4px;
    border: none;
}
.searchbar-component-near {
    border-radius: 0;
    border: none;
}

.searchbar-component-find::placeholder {
    font-size: 15px;
    font-weight: 500;
}

.searchbar-component-near::placeholder {
    padding-left: 12px;
    font-size: 15px;
    font-weight: 500;
}

.searchbar-near {
    margin-left: 380px;
    margin-top: 11px;
    border-left: solid 1px #666;
    padding-left: 10px;
}


.searchbar-icon {
    background-color: rgb(244,13,21);
    color: white;
    font-size: 21.5px;
    border: 1px solid rgb(244,13,21);
    border-radius: 0px 3px 3px 0px;
    padding: 10px 12px;
    cursor: pointer;
    margin-top: -0.5px;
}

.searchbar-icon:hover {
    opacity: 0.85;
    transition: all 0.3s;
}