.signup {
    max-width: 100%;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-signup {
    width: 50%;
}

.signup-form-header {
    display: flex;
    justify-content: center;
    background-color: #d32323;
    height: 34px;
    width: 100%;
    padding: 12px 0;
}

.signup-form-header-link {
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;

}

.signup-form-header-logo {
    text-decoration: none;
    color: white;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    width: 30px;
    height: 30px;
    margin-top: -4px;
}


.form-type-title-signup {
    display: flex;
    justify-content: center;
    color: #d32323;
    margin-top: 185px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 22px;
}

.switch-form-header-signup {
    color: #333;
    display: flex;
    justify-content: center;
}

.demo-user-signup {
    display: flex;
    justify-content: center;
}

.demo-button-signup {
    color: #666;
    background-color: white;
    border: 1px solid #ccc;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    border-radius: 4px;
    width: 50%;
    height: 35px;
    padding: 5px;
    cursor: pointer;
}

.demo-button:hover {
    color: white;
    background-color: #d32323;
    /* background-color: #666; */
    transition: all 1s;
    border-color: white;
}

.signup-form-divider {
    display: flex;
    justify-content: center;
    color: #666;
    font-size: 14px;
    margin: 10px 0px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.signup-submit {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: block;
    background-color: #d32323;
    color: white;
    cursor: pointer;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    font-size: 17px;
    font-weight: 700;
    height: 42px;
    border: 1px solid #d32323;
    border-radius: 4px;
    margin-top: 10px;
}

.signup-login-submit:hover {
    opacity: 0.88;
    transition: all 0.6s;
}

.signup-subtitle {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #333;
    position: absolute;
    padding-top: 15px;
}

.terms-signup {
    position: relative;
    padding-top: 45px;
    color: #333;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    margin-bottom: 15px;
    width: 52%;
    margin-left: 0%;
    text-align: center;
    line-height: 1.5em;
}

.first-name-input {
    margin-left: 25%;
    width: 23%;
    padding-left: 5px;
    height: 28px;
    background-color: white;
    border: 1px solid #ccc;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    border-radius: 4px;
    padding-left: 8px;
    margin-bottom: 10px;
}

.last-name-input {
    width: 23%;
    padding-left: 5px;
    margin-left: 4px;
    height: 28px;
    background-color: white;
    border: 1px solid #ccc;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    border-radius: 4px;
    padding-left: 8px;
}

.signup-input {
    display: flex;
    justify-content: center;
    width: 49%;
    margin-left: 25%;
    padding-left: 5px;
    height: 28px;
    background-color: white;
    border: 1px solid #ccc;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    border-radius: 4px;
    margin-bottom: -3px;
}

.switch-form-signup {
    text-decoration: none;
    color: #0073bb;
    padding-left: 5px;
}

.switch-form:hover {
    text-decoration: underline;
}

.switch-form-text-signup {
    display: flex;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #999;
    margin-left: 48%;
    padding-top: 10px;
}

.signup-with-errors {
    display: flex;
    flex-direction: column;
    margin-bottom: -160px;
    width: 94%;
}

.signup-with-errors-1 {
    display: flex;
    flex-direction: column;
    margin-bottom: -120px;
    width: 94%;
}

.signup-errors-container {
    display: flex;
    flex-direction: column;
    margin-bottom: -65px;
}

.signup-error-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #fcd6d3;
    padding: 13px 10px 1px 10px;
    margin-bottom: 3px;
    border-radius: 3px;
}

.signup-form-error {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
    font-size: 16px;
    line-height: 1.5em;
}

.signup-errors-x {
    font-size: 36px;
    color: #666;
}

.signup-errors-x:hover {
    cursor: pointer;
}